body {
    font-family: 'Gloucester MT';
}
img{
    height: 275px;
    width: 100%;
    border: solid 1px black;
}

#imgHome {
    height: 160px;
    border: solid 1px black;
    width: 50%;
}

h5 {
    text-align: center;
}
.imgPage3 {
    height: 150px;
    width: 55%;
    border: solid 1px black;
}


